<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <h2 style="color: lightseagreen; text-align: center;"><i>Identity Card Generated</i></h2>
    <div class="main">
        <div class="container" id="container">
            <div class="container_header">
                <div class="header_main" style="margin-top: 10px;margin-left: 8px;">
                    <div>
                        <img
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQm29oN9qGi14THfIIoukK6SgcOx8el_448Wd5juzuRwg&"
                            alt="" class="logo">
                    </div>
                    <div>
                        <div>MCKV INSTITUTE OF ENGINEERING</div>
                    </div>
                </div>
            </div>
            <div class="header_second" style="font-size: 10px ; color: blue;width: 250px;margin: auto;">243, G.T.Road(N),Liluah,Howrah-711204, P-26549315/17</div>
            <div style="font-size: 10px;color: blue;margin: auto;width:200px">E:mckvie@vsnl.net &nbsp&nbspW: www.mckvie.edu.in</div>
            <hr style="color: blue; height: 2px; background-color: blue;width: 275px;">
            <div class="photo_div">
                <img src="/uploads/<%=img_url%>" alt="student_photo" class="photo">
            </div>
            <div class="details">
                <div style="font-size: 18px; font-weight: 550;" class="full_name">
                    <%=fullname.toUpperCase()%>
                </div>
                <div class="barcode_div">
                    <svg id="barcode"></svg>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsbarcode/3.11.6/JsBarcode.all.min.js"></script>
                    <script>
                        JsBarcode('#barcode', "<%=uid%>", {displayValue: false,width:5,height:50});
                    </script>
                </div>
                
                <div class="int_det">
                    <div class="uid_no">
                        <div>Emp ID.:</div>
                        <div><%=uid%></div>
                    </div>
                    <div class="dept_name">
                        <div>Department.:</div>
                        <div><%=dept.toUpperCase()%>
                        </div>
                    </div>
                    <div class="designation">
                        <div>Designation.:</div>
                        <div><%=desg%></div>
                    </div>
                    <div class="blg">
                        <div>Blood Group.:</div>
                        <div style="color: red;"><%=bldgrp%>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sign">
                <img src="/images/sign.jpg" alt="sign">
                <div style="font-size:15px;" class="sign_write">Principal/Authorised Signatory</div>
            </div>

        </div>


        <div class="container" id="back">
            <div class="heading">
                INSTRUCTIONS
            </div>
            <div class="inst">
                <ol style="padding: 0px;">
                    <li>This Identity Card cum Attendance must be carried/ displayed while on duty and produced on demand.</li>
                    <li>Lost of ths card must be immediately reported to the police and to the college administration in writing for obtaining a new card.</li>
                    <li>Replacement of card will be on actual cost basis and on production of the policy diary.</li>
                    <li>This card should be returned to the college on cessation of the Employment.</li>
                </ol>
            </div>
            <div class="std_ad">
                Residential Address:
            </div>
            <div class="std_ad_det">
                <%=address%>
            </div>
            <div class="contact">
                Contact: <%=no%>
            </div>
            <div class="emp_sign">Signature of the cardholder</div>
        </div>

    </div>
<div style="display: flex; justify-content: space-around; margin-top: 20px;">
    <div>
        <button id="button" class="btn_1"><i class="fa-solid fa-download"></i> Download</button>
        <script>
            $(document).ready(function () {
                $("#button").click(function () {
                    domtoimage.toBlob(document.getElementById('container')).then(function (blob) {
                        window.saveAs(blob, "front.jpg");
                    })
                })
            })
        </script>
    </div>
    <div>
        <button id="button_2" class="btn_2"><i class="fa-solid fa-download"></i> Download</button>
        <script>
            $(document).ready(function () {
                $("#button_2").click(function () {
                    domtoimage.toBlob(document.getElementById('back')).then(function (blob) {
                        window.saveAs(blob, "back.jpg");
                    })
                })
            })
        </script>
    </div>
</div>
</body>

</html>